body {
    background:#1d1d1d;
    font-weight: bold;
  }
  
  .wrapper{
    top: -250px;
    right: 25px;
    min-width:200px;
    height:1500px;
    position:relative;
    margin:auto;
    overflow: hidden;
  }
  
  .wrapper::after {
    min-width:198px;
    height:1498px;
    content:"";
    position:absolute;
  }
  
  .box{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(25, 25, 25);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    width:180px;
    height:280px;
    position:absolute;
    background:red;
    font-size:20px;
    line-height:50px;
    text-align:center; 
    margin: 10px;
  }
  
  .boxes {
    position:relative;
    top: -300px;
  }
  
  .nav {
    position:relative;
    text-align:center;
    color:white;
    font-size:20px;
    margin:20px 0;
  }